.main-box{
    width: 1580px;
    height: 790px;
    background-color: black;
    display: flex;
    flex: 50%;
}
.left {
    width: 200px;
    height: 690px;
    background-color: blue;
}
.right {
    text-align: center;
    width: 170px;
    height: 690px;
}
.bottom{
    display:flex;
    flex-direction: column;
    text-align: center;

}
.brown-box {
    width: 710px;
    height: 200px;
    background-color: blanchedalmond;
    padding-top: 10px;
}
.light-brown-box {
    width: 710px;
    height: 440x;
    background-color: blanchedalmond;
}
.inside{
    display: flex;
    height: 480px;
    width: 200px;
}
.inleft{
    text-align: center;
    padding-right: 50%;
    background-color: blanchedalmond;
    padding-right: 100px;
}
.inright{
    text-align: center;
    width: 140px;
    background-color: blanchedalmond;
    text-align: end;
    flex-direction: column;
}


