<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>

    <body style="background-color: gray;">
        <div class="main-container">
            <div class="left">
                <div class="brown-container">
                    <div class="light-brown"></div>
                </div>
                <div class="gray-square"></div>
                <div class="green-container">
                    <div class="light-green"></div>
                </div>
                <div class="brown-container" id="bottom-brown">
                    <div class="light-brown"></div>
                </div>
            </div>
            <div class="right">
                <div class="pink"></div>
                <div class="white"></div>
            </div>
        </div>
    </body>
</html>















