body{
    background-color: skyblue; 

} 
.h1{ 
    background-color: bisque;
    text-align: start; 
} 
.h2{
    color: blue;
    background-color: skyblue;

}
.nav{
    background-color: skyblue; 
}
.button{
    border-end-start-radius: 2px;
    background-color: yellow;
}
